{% if request.user.is_authenticated and fc.count > 0 %}
	<!-- { % if fc.count > 0 % } -->
		<!--form action="{% url 'characterex' %}" method="post" id="theme-form"-->
		<form method="post" id="theme-form">
			{% csrf_token %}
			<select name="char_to_open" id="open_char" class="navbar_select" onchange="this.form.submit()">
			{% for c in fc %}
				{% if character.name == c.name %}
					<option value="{{c.name}}" selected>{{c.name}} ({{c.char_class}})</option>
				{% else %}
					<option value="{{c.name}}">{{c.name}} ({{c.char_class}})</option>
				{% endif %}
			{% endfor %}
			</select>
		</form>
	<!-- { % endif % } -->
{% endif %}