{% if request.user.is_authenticated %}
    <div class="menu_icon menu_div" onclick="show_character_menu()">
{% else %}
    <div class="menu_icon menu_div">
{% endif %}
        <div class="menu_icon bar" style="margin-bottom: 6px;"></div>
        <div class="menu_icon bar" style="margin-bottom: 6px;"></div>
        <div class="menu_icon bar"></div>
    </div>
    <div class="dropdown_content" id="character_menu">
        <a href="javascript:doesNothing('Open Character')">Open Character</a>
        <a href="javascript:doesNothing('Close Character')">Close Character</a>
        <a href="javascript:doesNothing('Delete Character')">Delete Character</a>
        <hr/>
        <a href="javascript:doesNothing('New Character')">New Character</a>
        <a href="javascript:doesNothing('New Random Character')">New Random Character</a>
        <hr/>
        <a href="javascript:doesNothing('Rename Character')">Rename Character</a>
        <a href="javascript:doesNothing('Multiclass')">Multiclass</a>
        <a href="javascript:doesNothing('Character -&gt; PDF')">Character -&gt; PDF</a>
    </div>