<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Adventures in Fantasy</title>
		{% load static %}
		{% load reload_cache %}
		<style>
			{% include 'aif_ui/aif.css' %}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{% static 'aif_ui/index.js' %}?{% reload_cache %}"></script>
		<!--link rel="stylesheet" type="text/css" href="{% static 'aif_ui/character.css' %}?{% reload_cache %}" /-->

	</head>
	<body>
		{% include "aif_ui/nav_bar.html" %}
		<div id='main' onload="hiThere()">
			{% if request.user.is_authenticated and request.user.session.ui_state != 'index' %}
				{% include "aif_ui/tab_bar.html" %}
				<div class="tab_content">
					{% with "aif_character/"|add:request.user.session.sheet_id|add:".html" as sheet_url %}
					{% include sheet_url %}
					{% endwith %}
				</div>
			{% else %}
				<img class="center" src="{% static 'aif_ui/aif-splash.png' %}">
			{% endif %}
		</div>
		{% include "registration/login_popup.html" %}
		{% include "aif_ui/theme_popup.html" %}
	</body>
</html>
