<div class="navbar">
	<div class="inline margins dropdown" style="width:44px;"> <!-- character menu -->
		{% include "aif_ui/character_menu.html" %}
	</div>
	<div class="inline margins valign_t" style="width:214px;"> <!-- character selection drop down -->
		{% include "aif_ui/character_select.html" %}
	</div>
	<div class="inline margins valign_t" style="width:114px;"> <!-- navbar onclick="doesNothing('Edit')" buttons -->
		{% if flag != 'index' %}
			<button style="width:100px;" class="navbar_button" onclick="updateCharacterSheet(event, '{{character.name}}', '{{sheet_id}}', '{{current_theme}}', '{{csrf_token}}', 'edit')">Edit</button>
		<!-- { % elif flag == 'edit' %} -->
			<button style="width:100px; display: none;" class="navbar_button" type="submit" form="character_form" value="Submit">Save</button>
		{% endif %}
	</div>
	<div class="inline hdr_2 valign_t" style="margin-left: 14px; margin-top: 5px;"> <!-- character name, race, class -->
		{% if flag == 'character' %}
			{{character.name}}:&nbsp{{character.race}}&nbsp{{character.char_class}}
		{% endif %}
	</div>
	<div class="inline float_right" style="width:214px"> <!-- user menu -->
		{% include "aif_ui/user_menu.html" %}
	</div>
</div>
