<div class="navbar">
	{% if request.user.is_authenticated %}
		{% if fc.count > 0 %}
			<select name="char_to_open" id="open_char" class="navbar_select" onchange="showCharacter()">
			{% load define_selected %}
			{% for c in fc %}
				{% if character.name == c.name %}
					<option value="{{c.name}}" selected>{{c.name}} ({{c.char_class}})</option>
				{% else %}
					<option value="{{c.name}}">{{c.name}} ({{c.char_class}})</option>
				{% endif %}
			{% endfor %}
			</select>
			{% if flag != 'index' %}
				<button class="navbar_button" onclick="doesNothing('Edit')">Edit</button>
				<!--button class="navbar_button" onclick="showThemePopup()">Themes</button-->
				<!--button class="navbar_button" onclick="doesNothing('Save')">Save</button-->
			{% endif %}	
		{% endif %}	
	{% endif %}
    {% include "aif_ui/user_menu.html" %}
    {% include "aif_ui/character_menu.html" %}
    {% include "aif_ui/theme_modal.html" %}
	<script>
		function showCharacter() {
			var x = document.getElementById("open_char").value;
			var y = "{% url 'character' 'Value' %}".replace("Value", x)
			window.location.href=y;
		}
	</script>
</div>