<div class="tab">
	<a class="tablinks active" onclick="loadCharacterSheet(event, '{{character.name}}', 'Sheet_1', '{{current_theme}}', '{{csrf_token}}')">Sheet 1</a>
	<a class="tablinks" onclick="loadCharacterSheet(event, '{{character.name}}', 'Sheet_2', '{{current_theme}}', '{{csrf_token}}')">Sheet 2</a>
	<a class="tablinks" onclick="loadCharacterSheet(event, '{{character.name}}', 'Sheet_3', '{{current_theme}}', '{{csrf_token}}')">Sheet 3</a>
	<a class="tablinks" onclick="loadCharacterSheet(event, '{{character.name}}', 'Sheet_4', '{{current_theme}}', '{{csrf_token}}')">Sheet 4</a>
	{% if character.is_spellcaster %}
		<a class="tablinks" onclick="loadCharacterSheet(event, '{{character.name}}', 'Spells', '{{current_theme}}', '{{csrf_token}}')">Spells</a>
	{% endif %}
	<a class="tablinks" onclick="loadCharacterSheet(event, '{{character.name}}', 'Notes', '{{current_theme}}', '{{csrf_token}}')">Notes</a>
	<a class="tablinks" onclick="loadCharacterSheet(event, '{{character.name}}', 'Combat', '{{current_theme}}', '{{csrf_token}}')">Combat</a>

</div>
