<div id="theme_popup" class="modal">
	<div class="modal_content">
		<div class="modal_header">
			<span class="close" onclick="closePopup('theme_popup')">&times;</span>
			<h3>Color Theme Picker</h3>
		</div>
		<div class="modal_body">
			<form method="post" id="theme-form">
				{% csrf_token %}
				<div class="ha_c">
					<select name="theme_selected" id="set_theme" class="navbar_select">
					{% for theme in themes %}
						{% if request.user.profile.current_theme == theme.name %}
							<option value="{{theme.name}}" selected>{{theme.name}}</option>
						{% else %}
							<option value="{{theme.name}}">{{theme.name}}</option>
						{% endif %}
					{% endfor %}
					</select>
				</div>
				<div class="submit_row center">
					<input type="submit" value="Select">
				</div>
			</form>
		</div>
	</div>
</div>