<div id="theme_popup" class="modal">
	<div class="modal_content">
		<div class="modal_header">
			<span class="close" onclick="closeThemePopup()">&times;</span>
			<h3>Color Theme Picker</h3>
		</div>
		<div class="modal_body">
			<form action="{% url 'index' %}" method="post" id="theme-form">
				{% csrf_token %}
				<div class="halign_c">
					<select name="theme_to_user" id="set_theme" class="navbar_select" onchange="setTheme()">
					{% for theme in themes %}
						{% if request.user.profile.current_theme == theme.name %}
							<option value="{{theme.name}}" selected>{{theme.name}}</option>
						{% else %}
							<option value="{{theme.name}}">{{theme.name}}</option>
						{% endif %}
					{% endfor %}
					</select>
				</div>
				<div class="halign_c"><br/></div>
			</form>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
function showThemePopup() {
	document.getElementById("theme_popup").style.display = "block";
}
function closeThemePopup() {
	document.getElementById("theme_popup").style.display = "none";
}
function setTheme() {
	var x = document.getElementById("set_theme").value;
	$.ajax({
		type: "POST",
		url: '{{ '/ajax-set-theme/' }}',
		data: { csrfmiddlewaretoken: '{{ csrf_token }}', theme: x },
		success: function callback(response){
				   /* do whatever with the response */
					document.getElementById("theme_popup").style.display = "none";
				   //alert(response);
				}
	});
	location.reload();
}
</script>