{% if request.user.is_authenticated %}
    <div class="float_right dropdown">
		<div class="menu_icon menu_div" onclick="show_menu('user_menu')">
			<button class="menu_icon text_button">
				Logged in as {{ request.user.username }}
			</button>
		</div>
		<div id="user_menu" class="dropdown_content">
			<a href="javascript:doesNothing('Switch User')">Switch User</a>
			<a href="javascript:doesNothing('Change Password')">Change Password</a>
			<a href="javascript:showPopup('theme_popup')">Theme</a>
			<hr/>
			<a href="{% url 'logout' %}">Logout</a>
		</div>
	</div>
{% else %}
    <button class="navbar_button float_right" onclick="showPopup('login_popup')">Login</button>
{% endif %}
