:root {
    --font-name: Arial, Helvetica, sans-serif; /*Times New Roman;*/
    --font-size: 10pt;
    --navbar-bg-color: black;
    --navbar-fg-color: white;
    --navbar-button-fg-color: black;
    --navbar-button-bg-color: #e7e7e7;
    --navbar-button-border-color: white;
    --dropdown-fg-color: black;
    --dropdown-bg-color: #f9f9f9;
    --dropdown-hover-color: #dddddd;
    --menubar-bg-color: white;
    --tabbar-bg-color: white;
    --tabbar-fg-color: black;
    --tabbar-border-color: black;
    --tabbar-bg-hover-color: grey;
    --tabbar-fg-hover-color: white;
    --tabbar-bg-active-color: black;
    --tabbar-fg-active-color: white;
}