<style>
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .sheet {
        font-size: 10pt;
        font-family: Times New Roman;
        width: 9.5in;
        height: 11in;
        margin: 0;
        padding: 0;
    }

    /*input {
        background-color: #00ff00;
        border: 1.0px;
        padding: 0;
    }*/

    input:focus {
        outline: none;
    }

    table { border-collapse: collapse; }
    tr { height: auto; }

    #width_0 { width: 5px; }
    #width_1 { width: 30px; }
    #width_2 { width: 35px; }
    #width_3 { width: 45px; }
    #width_4 { width: 50px; }
    #width_5 { width: 60px; }
    #width_6 { width: 100px; }

    #width_a { width: 2%; }
    #width_b { width: 15%; }
    #width_c { width: 20%; }
    #width_d { width: 22%; }
    #width_e { width: 25%; }
    #width_f { width: 49%; }
    #width_g { width: 100%; }
    #width_8 { width: 8in; }

    .all { border: 1.0px solid black; }
    .all_c { border: 1.0px solid black; text-align: center; }
    .all_r { border: 1.0px solid black; text-align: right; padding-right: 5px; }
    .all_pl { border: 1.0px solid black; padding-left: 5px; }

    .bottom { border-bottom: 1.0px solid black; }
    .bottom_c { border-bottom: 1.0px solid black; text-align: center; }

    .font_small { font-size: 75%; }

    .h1 { height: 132px; }
    .h2 { height: 132px; }
    .h3 { height: 953px; }
    .h4 { height: 220px; }
    .h5 { height: 205px; }
    .h6 { height: 205px; }
    .h7 { height: 117px; }
    .h8 { height: 117px; }

    .halign_c { text-align: center; }
    .halign_r { text-align: right; }
    .halign_rpl { text-align: right; padding-right: 5px; }

    .hdr_1 { width: 50%; text-align: center; vertical-align: center; font-size: 24pt; }
    .hdr_2 { vertical-align: bottom; font-size: 22pt; }
    .hdr_3 { border-bottom: 1.0px solid black; text-align: right; vertical-align: bottom; font-size: 22pt; }

    .header { border: 1.0px solid black; font-size: 105%; background-color: #cccccc;}
    .header_c { border: 1.0px solid black; font-size: 105%; background-color: #cccccc; text-align: center; }

    .left_c { border-left: 1.0px solid black; text-align: center; }

    .page {
        page-break-after: always;
        position: relative;
        width: 8.5in;
        height: 11in;
    }

    .page-content {
        position: absolute;
        width: 8.0in;
        height: 10.5in;
        left: 0.25in;
        top: 0.25in;
        bottom: 10.75in;
        right: 8.25in;
        background-color: #FFFF00;
    }

    .valign_t { vertical-align: top; }

    .fill { height:1300px; }
</style>