.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal_header {
    padding: 2px 8px;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-fg-color);
}

/* Modal Body */
.modal_body {padding: 2px 16px;}

/* Modal Footer */
.modal_footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content */
.modal_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.form_row {
    padding: 4px 0;
    float: left;
    width: 100%;
    border-bottom: none;
}

.form_row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.form_row #id_username, .form_row #id_password {
    clear: both;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.submit_row {
    clear: both;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    /* padding: 1em 0 0 9.4em;
    border: none;
    background: none;
    margin-bottom: 10px;
    text-align: center; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
