.navbar {
    color: var(--navbar-fg-color);
    background-color: var(--navbar-bg-color);
    top: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar_button {
    border: solid; /* Remove borders */
    color: var(--navbar-button-fg-color);
    border-color: var(--navbar-button-border-color);
    background-color: var(--navbar-button-bg-color);
    margin-top: 7px;
    margin-left: 14px;
    width: 100px;
    height: 30px;
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    border-radius: 5px;
}

.navbar_select {
    border: solid; /* Remove borders */
    color: var(--navbar-button-fg-color);
    border-color: var(--navbar-button-border-color);
    background-color: var(--navbar-button-bg-color);
    margin-top: 7px;
    margin-left: 14px;
    width: 200px;
    height: 30px;
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.text_button {
    color: inherit;
    background-color: inherit;
    margin-top: 7px;
    font-size: 16px;
}

.dropdown {
    color: inherit;
    background-color: inherit;
    float: left;
    overflow: hidden;
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    font-family: inherit;
    margin: 0;
}

.dropdown_content {
    color: var(--dropdown-fg-color);
    background-color: var(--dropdown-bg-color);
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a {
    color: inherit;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_content a:hover {
    background-color: var(--dropdown-hover-color);
}

.show {
    display: block;
}

.menu_icon {
    border: none;
    outline: none;
}

.menu_div {
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    font-family: inherit;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 14px;
    height: 30px;
}

.bar {
    background-color: var(--menubar-bg-color);
    width: 30px;
    height: 5px;
}

.float_right {
    float: right;
    margin-right:14px;
}
