<table id="width_100">
	<tr>
		<td class="header pl_05">Armor List</td>
		<td id="width_05" class="halign_c">Type</td>
		<td id="width_05" class="halign_c">Dur</td>
		<td id="width_05" class="halign_c">S</td>
		<td id="width_05" class="halign_c">P</td>
		<td id="width_05" class="halign_c">B</td>
		<td id="width_05" class="halign_c">C</td>
		<td id="width_07" class="halign_c">Load</td>
		<td id="width_05" class="halign_c">Rk</td>
		<td id="width_05" class="halign_c">Or</td>
	</tr>
	<!-- {{table.armor}} -->
	{% for armor in character.armor_set.all %}
		<tr>
			{% load define_group %}
			{% if "Group" in armor.name or armor.load == "-" %}
				{% define True as group %}
			{% else %}
				{% define False as group %}
			{% endif %}
			{% load define_toughness %}
			{% if "Toughness" in armor.name %}
				{% define True as toughness %}
			{% else %}
				{% define False as toughness %}
			{% endif %}
			{% load define_protection %}
			{% if "Protection Spell" in armor.name %}
				{% define True as protection %}
			{% else %}
				{% define False as protection %}
			{% endif %}
			<td class="all_pl">
			{% if armor.mastered %}
				<strong>{{armor.description}}</strong>
			{% else %}
				{{armor.description}}
			{% endif %}
			</td>
			{% if flag == "sheet" or group or toughness or protection %}
				<td class="all_c">{{armor.type}}</td>
			{% else %}
				<td class="all_c">
					<input type="text" name="{{armor.name}}_type" value="{{armor.type}}">
				</td>
			{% endif %}
			{% if flag == "sheet" or group or toughness %}
				<td class="all_c">{{armor.durability}}</td>
			{% else %}
				<td class="all_c">
					<input type="text" name="{{armor.name}}_durability" value="{{armor.durability}}">
				</td>
			{% endif %}
			{% if flag == "sheet" or group or protection %}
				<td class="all_c">{{armor.slashing}}</td>
				<td class="all_c">{{armor.piercing}}</td>
				<td class="all_c">{{armor.bludgeoning}}</td>
				<td class="all_c">{{armor.cleaving}}</td>
			{% else %}
				<td class="all_c">
					<input type="text" name="{{armor.name}}_slashing" value="{{armor.slashing}}">
				</td>
				<td class="all_c">
					<input type="text" name="{{armor.name}}_piercing" value="{{armor.piercing}}">
				</td>
				<td class="all_c">
					<input type="text" name="{{armor.name}}_bludgeoning" value="{{armor.bludgeoning}}">
				</td>
				<td class="all_c">
					<input type="text" name="{{armor.name}}_cleaving" value="{{armor.cleaving}}">
				</td>
			{% endif %}
			{% if flag == "sheet" or group or toughness or protection %}
				<td class="all_c">{{armor.load}}</td>
			{% else %}
				<td class="all_c">
					<input type="text" name="{{armor.name}}_load" value="{{armor.load}}">
				</td>
			{% endif %}
			{% if flag == "sheet" or toughness or protection %}
				<td class="all_c">{{armor.rank}}</td>
			{% else %}
				<td class="all_c">
					<input type="text" name="{{armor.name}}_rank" value="{{armor.rank}}">
				</td>
			{% endif %}
			<td class="all_c">{{armor.order}}</td>
		</tr>
	{% endfor %}
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td colspan="4" class="halign_rpl">Total Armor Load</td>
		<td class="all_pl">{{character.armor_total_load}}</td>
	</tr>
</table>
