<table id="width_100" align="right">
    <tr>
        <td colspan="3" class="header pl_05">Bonuses</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td id="width_30" >&nbsp;</td>
        <td id="width_30" class="halign_c">Adj</td>
    </tr>
    <tr>
        <td class="all_r">To Damange</td>
        <td class="all_c">{{character.damage_mods_base}}</td>
        <td class="all_c">{{character.damage_mods_display}}</td>
    </tr>
    <tr>
        <td class="all_r">To Hit</td>
        <td class="all_c">{{character.to_hit_mods_base}}</td>
        <td class="all_c">{{character.to_hit_mods_display}}</td>
    </tr>
    <tr>
        <td class="all_r"># of Actions</td>
        <td class="all_c">{{character.actions_base}}</td>
        <td class="all_c">{{character.actions_display}}</td>
    </tr>
    <tr>
        <td></td>
        <td class="font_small halign_c">Underground</td>
        <td class="font_small halign_c">Outside</td>
    </tr>
    <tr>
        <td class="all_r">Search Dice</td>
        <td class="all_c">{{character.underground_search_display}}</td>
        <td class="all_c">{{character.outside_search_display}}</td>
    </tr>
</table>
