<table id="width_100" align="right">
    <tr>
        <td colspan="2" class="header pl_05">Bonuses</td>
    </tr>
    <tr>
        <td></td>
        <td id="width_30" class="halign_c">Mods</td>
    </tr>
    <tr>
        <td class="all_r">To Damange</td>
        <td id="width_15" class="all_c">{{character.damage_mods_display}}</td>
    </tr>
    <tr>
        <td class="all_r">To Hit</td>
        <td class="all_c">{{character.to_hit_mods_display}}</td>
    </tr>
    <tr>
        <td class="all_r"># of Actions</td>
        <td class="all_c">{{character.actions_display}}</td>
    </tr>
</table>
