<table id="width_100" align="center">
    <tr>
        <td colspan="2" class="header">Combat Factors</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="all_r">Knockdown</td>
        <td id="width_30" class="all_c">
            {% if flag == "sheet" %}
                {{character.knockdown_display}}
            {% else %}
                <input type="text" name="knockdown_display" value="{{character.knockdown_display}}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="all_r">Defense</td>
        <td class="all_c">
            {% if flag == "sheet" %}
                {{character.defense_display}}
            {% else %}
                <input type="text" name="defense_display" value="{{character.defense_display}}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="all_r">Stun</td>
        <td class="all_c">
            {% if flag == "sheet" %}
                {{character.stun_display}}
            {% else %}
                <input type="text" name="stun_display" value="{{character.stun_display}}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="all_r">Endurance</td>
        <td class="all_c">
            {% if flag == "sheet" %}
                {{character.endurance_display}}
            {% else %}
                <input type="text" name="endurance_display" value="{{character.endurance_display}}">
            {% endif %}
        </td>
    </tr>
</table>
