<div>
	<div class="sheet">
		<!--form action="{% url 'save' character.name %}" method="post"-->
			{% csrf_token %}

			<!-- Ability Scores, Saves, Combat Factors and Bonuses -->
			<table id="width_100">
				<tr>
					<!-- Ability Scores -->
					<td id="width_235" class="valign_t" align="left">
						{% include "aif_character/stats_table_c.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Saves -->
					<td id="width_235" class="valign_t" align="center">
						{% include "aif_character/saves_table_1.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Combat Factors -->
					<td id="width_235" class="valign_t" align="center">
						{% include "aif_character/cf_factors_table_1.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Movement -->
					<td id="width_235" class="valign_t" align="right">
						{% include "aif_character/movement_table_1.html" %}
					</td>
				</tr>
			</table>
			<br/>
			<br/>
			<!-- Skills, Weapons, Armor and Equipment -->
			<table id="width_100">
				<tr>
					<td class="valign_t" >
						<!-- Armor -->
						{% include "aif_character/armor_table_c.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<td class="valign_t" >
						<!-- Weapons -->
						{% include "aif_character/weapons_table_c.html" %}
					</td>
				</tr>
			</table>
			<br/>
			<br/>
			<table id="width_100">
				<tr>
					<!--td class="valign_t" id="width_18">
						<button>New Combat</button>
					</td>
							<td id="width_2">&nbsp;</td>
					<td class="valign_t" id="width_18">
						<button>End Combat</button>
					</td>
							<td id="width_2">&nbsp;</td>
					<td class="valign_t" id="width_18">
						<button>Add Buff</button>
					</td-->
					<td id="width_40" class="valign_t">
						<button id="width_30">New Combat</button>
						<button id="width_30">End Combat</button>
						<button id="width_30">Add Buff</button>
					</td>
					<td>&nbsp;</td>
					<td id="width_30" class="valign_t" align="right">
						<div>
							<button style="width: 10%;">+</button>
							<label style="width: 20%; display: inline-block; text-align: center" for="round">Round</label>
							<input style="width: 20%; text-align: center" type="text" name="round" maxlength="10" id="round">
						</div>
					</td>
				</tr>
			</table>
			<br/>
			<br/>
			<table id="width_100">
				<tr>
					<td id="width_30"class="valign_t">
						<div>
							<button id="width_10">+</button>
							<button id="width_10">-</button>
							<label id="width_35" class="halign_r inline" for="health">HLTH</label>
							<input id="width_10" class="halign_c" type="text" name="health" maxlength="10" id="health" value="{{character.health_current}}">
							<input id="width_10" class="halign_c" type="text" name="max_health" maxlength="10" id="max_health" value="{{character.health_display}}">
						</div>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="valign_t">
						<div>
							<button id="width_10">+</button>
							<button id="width_10">-</button>
							<label id="width_35" class="halign_r inline"  for="health">Fatigue</label>
							<input id="width_10" class="halign_c" type="text" name="fatigue" maxlength="10" id="fatigue" value="{{character.fatigue}}">
							<input id="width_10" class="halign_c" type="text" name="max_fatigue" maxlength="10" id="max_fatigue" value="{{character.endurance_display}}">
						</div>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="valign_t">
						<div>
							<button id="width_10">+</button>
							<button id="width_10">-</button>
							<label id="width_35" class="halign_r inline"  for="health">Stun</label>
							<input id="width_10" class="halign_c" type="text" name="stun" maxlength="10" id="stun" value="{{character.stun_current}}">
							<input id="width_10" class="halign_c" type="text" name="max_stun" maxlength="10" id="max_stun" value="{{character.stun_display}}">
						</div>
					</td>
					<td>&nbsp;</td>
				</tr>
				{% if character.uses_spellpoints %}
				<tr>
					<td class="valign_t">
						<div>
							<button id="width_10">+</button>
							<button id="width_10">-</button>
							<label id="width_35" class="halign_r inline"  for="health">Spell Points</label>
							<input id="width_10" class="halign_c" type="text" name="spell_pts" maxlength="10" id="spell_pts" value="{{character.spell_points_current}}">
							<input id="width_10" class="halign_c" type="text" name="max_spell_pts" maxlength="10" id="max_spell_pts" value="{{character.spell_points_base}}">
						</div>
					</td>
					<td>&nbsp;</td>
				</tr>
				{% endif %}
				{% if 'Bard' in character.char_class %}
				<tr>
					<td class="valign_t">
						<div>
							<button id="width_10">+</button>
							<button id="width_10">-</button>
							<label id="width_35" class="halign_r inline"  for="health">Rhythm Points</label>
							<input id="width_10" class="halign_c" type="text" name="rhythm_pts" maxlength="10" id="rhythm_pts" value="{{character.rhythm_points_base}}">
							<input id="width_10" class="halign_c" type="text" name="max_rhythm_pts" maxlength="10" id="max_rhythm_pts" value="{{character.rhythm_points_base}}">
						</div>
					</td>
					<td>&nbsp;</td>
				</tr>
				{% endif %}
				{% if 'Paladin' in character.char_class %}
				<tr>
					<td class="valign_t">
						<div>
							<button id="width_10">+</button>
							<button id="width_10">-</button>
							<label id="width_35" class="halign_r inline"  for="health">Honor Points</label>
							<input id="width_10" class="halign_c" type="text" name="honor_pts" maxlength="10" id="honor_pts" value="{{character.honor_points_base}}">
							<input id="width_10" class="halign_c" type="text" name="max_honor_pts" maxlength="10" id="max_honor_pts" value="{{character.honor_points_base}}">
						</div>
					</td>
					<td>&nbsp;</td>
				</tr>
				{% endif %}
			</table>
			<br/>
			<br/>
			<table id="width_100">
				<tr>
					<td class="header" id="width_235">Buff</td>
					<td class="header" id="width_10">Start Round</td>
					<td class="header" id="width_10">End Round</td>
					<td class="header">Effects</td>
				</tr>
				{% for b in character.buffs_set.all %}
					<tr>
						<td class="all_pl">{{b.name}}</td>
						<td class="all_pl">{{b.start_round}}</td>
						<td class="all_pl">{{b.end_round}}</td>
						<td class="all_pl">{{b.buff}}</td>
					</tr>
				{% endfor %}
			</table>
		<!--/form-->
	</div>
</div>
