<table id="width_100" align="right">
    <tr>
        <td id="width_65" class="halign_r">Level</td>
        <td id="width_03">&nbsp;</td>
        <td id="width_32" class="bottom_c">{{character.level}}</td>
    </tr>
    <tr>
        <td class="halign_r">Experience</td>
        <td>&nbsp;</td>
        <td class="bottom_c">
            {% if flag == "character" %}
                {{character.experience}}
            {% else %}
                <input type="text" name="experience" value="{{character.experience}}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="halign_r">Next Level</td>
        <td>&nbsp;</td>
        <td class="bottom_c">{{character.next_level}}</td>
    </tr>
</table>
