<table id="width_100" align="left">
    <tr>
        <td id="width_65" class="halign_r">Walking (feet)</td>
        <td id="width_03">&nbsp;</td>
        <td id="width_32" class="bottom_c">{{character.walking_adjusted}}</td>
    </tr>
    <tr>
        <td class="halign_r">Running (feet)</td>
        <td>&nbsp;</td>
        <td class="bottom_c">{{character.running_adjusted}}</td>
    </tr>
    <tr>
        <td class="halign_r">Swimming (feet)</td>
        <td>&nbsp;</td>
        <td class="bottom_c">{{character.swimming_adjusted}}</td>
    </tr>
</table>
