<table id="width_100" align="left">
    <tr>
        <td id="width_40" class="halign_r">Movement</td>
        <td id="width_02">&nbsp;</td>
        <td id="width_29" class="halign_c">Base</td>
        <td id="width_29" class="halign_c">Adj</td>
    </tr>
    <tr>
        <td class="halign_r">Walking</td>
        <td>&nbsp;</td>
        <td class="all_c">{{character.walking_base}}</td>
        <td class="all_c">{{character.walking_adjusted}}</td>
    </tr>
    <tr>
        <td class="halign_r">Running</td>
        <td>&nbsp;</td>
        <td class="all_c">{{character.running_base}}</td>
        <td class="all_c">{{character.running_adjusted}}</td>
    </tr>
    <tr>
        <td class="halign_r">Swimming</td>
        <td>&nbsp;</td>
        <td class="all_c">{{character.swimming_base}}</td>
        <td class="all_c">{{character.swimming_adjusted}}</td>
    </tr>
</table>
