<div>
	<div class="sheet">
		<form action="{% url 'save' character.name %}" method="post">
			{% csrf_token %}
			<!-- Name, Race & Class -->
			<table id="width_100">
				<tr>
					<td class="hdr_2">
						{{character.name}}:&nbsp{{character.race}}&nbsp{{character.char_class}}
					</td>
				</tr>
			</table>
			<br/>
			<table id="width_100">
				<tr>
					<!-- Attributes -->
					<td id="width_18" class="valign_t">
						{% include "aif_character/attr_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Movement -->
					<td id="width_18" class="valign_t">
						{% include "aif_character/movement_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Encumbrance -->
					<td id="width_18" class="valign_t">
						{% include "aif_character/encumbrance_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Searches -->
					<td id="width_18" class="valign_t">
						{% include "aif_character/searches_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Experience -->
					<td id="width_18" class="valign_t">
						{% include "aif_character/experience_table.html" %}
					</td>
				</tr>
			</table>
			<br/>
			<!-- Ability Scores, Saves, Combat Factors and Bonuses -->
			<table id="width_100">
				<tr>
					<!-- Ability Scores -->
					<td id="width_1925" class="valign_t">
						{% include "aif_character/stats_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Saves -->
					<td id="width_1925" class="valign_t">
						{% include "aif_character/saves_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Combat Factors -->
					<td id="width_1925" class="valign_t">
						{% include "aif_character/cf_factors_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Bonuses -->
					<td id="width_1925" class="valign_t">
						{% include "aif_character/bonuses_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Money -->
					<td id="width_15" class="valign_t">
						{% include "aif_character/money_table_2.html" %}
					</td>
				</tr>
			</table>
			<br/>
			<!-- Skills, Weapons, Armor and Equipment -->
			<table id="width_100">
				<!-- Row One -->
				<tr>
					<td id="width_32" class="valign_t">
						<!-- Skills -->
						<table id="width_100">
							<tr>
								<td class="header">Class Skills</td>
								<td id="width_15" class="header_c">Rk</td>
								<td id="width_15" class="header_c">Or</td>
							</tr>
							{% for skill in character.skills_set.all %}
								{% if skill.skill_type == 'Class' %}
								<tr>
									<td class="all_pl">
									{% if skill.mastered %}
										<strong>{{skill.name}}</strong>
									{% else %}
										{{skill.name}}
									{% endif %}
									</td>
									<td class="all_c">
										{% if flag == "sheet" %}
											{{skill.rank}}
										{% else %}
											<input type="text" name="{{skill.name}}_rank" value="{{skill.rank}}">
										{% endif %}
									</td>
									<td class="all_c">{{skill.order}}</td>
								</tr>
								{% endif %}
							{% endfor %}
							<tr>
								<td class="header">Racial Skills</td>
								<td id="width_15" class="header_c">Rk</td>
								<td id="width_15" class="header_c">Or</td>
							</tr>
							{% for skill in character.skills_set.all %}
								{% if skill.skill_type == 'Racial' %}
								<tr>
									<td class="all_pl">
									{% if skill.mastered %}
										<strong>{{skill.name}}</strong>
									{% else %}
										{{skill.name}}
									{% endif %}
									</td>
									<td class="all_c">
										{% if flag == "sheet" %}
											{{skill.rank}}
										{% else %}
											<input type="text" name="{{skill.name}}_rank" id="width_1" value="{{skill.rank}}">
										{% endif %}
									</td>
									<td class="all_c" id="width_1">{{skill.order}}</td>
								</tr>
								{% endif %}
							{% endfor %}
						</table>
					</td>
					<td id="width_02">&nbsp;</td>
					<td id="width_32" class="valign_t">
						<!-- Skills -->
						<table id="width_100">
							<tr>
								<td class="header">Weapons Skills</td>
								<td id="width_15" class="header_c">Rk</td>
								<td id="width_15" class="header_c">Or</td>
							</tr>
							{% for skill in character.skills_set.all %}
								{% if skill.skill_type == 'Weapon' %}
								<tr>
									<td class="all_pl">
									{% if skill.mastered %}
										<strong>{{skill.name}}</strong>
									{% else %}
										{{skill.name}}
									{% endif %}
									</td>
									<td class="all_c">
										{% if flag == "sheet" %}
											{{skill.rank}}
										{% else %}
											<input type="text" name="{{skill.name}}_rank" value="{{skill.rank}}">
										{% endif %}
									</td>
									<td class="all_c">{{skill.order}}</td>
								</tr>
								{% endif %}
							{% endfor %}
							<tr>
								<td class="header">Armor Skills</td>
								<td id="width_15" class="header_c">Rk</td>
								<td id="width_15" class="header_c">Or</td>
							</tr>
							{% for skill in character.skills_set.all %}
								{% if skill.skill_type == 'Armor' %}
								<tr>
									<td class="all_pl">
									{% if skill.mastered %}
										<strong>{{skill.name}}</strong>
									{% else %}
										{{skill.name}}
									{% endif %}
									</td>
									<td class="all_c">
										{% if flag == "sheet" %}
											{{skill.rank}}
										{% else %}
											<input type="text" name="{{skill.name}}_rank" id="width_1" value="{{skill.rank}}">
										{% endif %}
									</td>
									<td class="all_c" id="width_1">{{skill.order}}</td>
								</tr>
								{% endif %}
							{% endfor %}
						</table>
					</td>
					<td id="width_02">&nbsp;</td>
					<td id="width_32" class="valign_t">
						<!-- Skills -->
						<table id="width_100">
							{% if 'Paladin' in character.char_class %}
								<tr>
									<td class="header">Honor Skills</td>
									<td id="width_15" class="header_c">Rk</td>
									<td id="width_15" class="header_c">Or</td>
								</tr>
								{% for skill in character.skills_set.all %}
									{% if skill.skill_type == 'Honor' %}
									<tr>
										<td class="all_pl">
										{% if skill.mastered %}
											<strong>{{skill.name}}</strong>
										{% else %}
											{{skill.name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "sheet" %}
												{{skill.rank}}
											{% else %}
												<input type="text" name="{{skill.name}}_rank" value="{{skill.rank}}">
											{% endif %}
										</td>
										<td class="all_c">{{skill.order}}</td>
									</tr>
									{% endif %}
								{% endfor %}
							{% endif %}
							{% if character.is_spellcaster %}
								<tr>
									<td class="header">Spell Skills</td>
									<td id="width_15" class="header_c">Rk</td>
									<td id="width_15" class="header_c">Or</td>
								</tr>
								{% for skill in character.skills_set.all %}
									{% if skill.skill_type == 'Spell' %}
									<tr>
										<td class="all_pl">
										{% if skill.mastered %}
											<strong>{{skill.name}}</strong>
										{% else %}
											{{skill.name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "sheet" %}
												{{skill.rank}}
											{% else %}
												<input type="text" name="{{skill.name}}_rank" value="{{skill.rank}}">
											{% endif %}
										</td>
										<td class="all_c">{{skill.order}}</td>
									</tr>
									{% endif %}
								{% endfor %}
							{% endif %}
						</table>
					</td>
				</tr>
				</tr>
			</table>
			<!-- Row Two -->
			<br/>
			<table id="width_100">
				<tr>
					<td id="width_49" class="valign_t">
						<!-- Weapons -->
						{% include "aif_character/weapons_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<td id="width_49" class="valign_t">
						<!-- Armor -->
						{% include "aif_character/armor_table_2.html" %}
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
			<br/>
			<table id="width_100">
				<!-- Row Three -->
				<!--tr>
					<td id="width_100" class="valign_t">
						{ % include "aif_character/armor_table.html" %}
					</td>
				</tr-->
				<!-- Row Four -->
				<!--tr>
					<td>&nbsp;</td>
				</tr-->
				<!-- Row Five -->
				<tr>
					<td id="width_100" class="valign_t">
						<table id="width_100">
							{% for container in character.container_set.all %}
								{% if not forloop.counter|divisibleby:2 %}<tr>{% endif %}
									<td class="valign_t" id="width_49">
										<!-- Equipment Left -->
										<table id="width_100">
											<tr>
												<td class="header">{{container.name}}</td>
												<td id="width_1" class="halign_c">Qty</td>
												<td id="width_1" class="halign_c">Load</td>
												<td id="width_1" class="halign_c">Adj</td>
												<td id="width_1" class="halign_c">Dur</td>
											</tr>
											{% for equipment in container.equipment_set.all %}
												<tr>
													<td class="all_pl">{{equipment.description}}</td>
													<td class="all_c">{{equipment.quantity}}</td>
													<td class="all_c">{{equipment.load}}</td>
													<td class="all_c">{{equipment.adjusted}}</td>
													<td class="all_c">{{equipment.durability}}</td>
												</tr>
											{% endfor %}
											<tr>
												<td class="halign_rpl" colspan="2">Total Load</td>
												<td class="all_c">{{character.equipment.total.load.left}}</td>
												<td></td>
												<td></td>
											</tr>
										</table>
									</td>
								{% if not forloop.counter|divisibleby:2 %}
									<td id="width_02">&nbsp;</td>
								{% endif %}
								{% if forloop.last and not forloop.counter|divisibleby:2 %}
									<!--td id="width_02">&nbsp;</td-->
									<td class="valign_t" id="width_49">&nbsp;</td>
								{% endif %}
							{% if forloop.counter|divisibleby:2 or forloop.last %}</tr>
								{% if not forloop.last %}<tr><td><br/></td></tr>{% endif %}
							{% endif %}
						{% endfor %}
						</table>
					</td>
				</tr>
			</table>
			{% if flag == "edit" %}<input type="submit" value="Save">{% endif %}
		</form>
	</div>
</div>
