<div>
	<div class="sheet">
		<form action="{% url 'save' character.name %}" method="post">
			{% csrf_token %}
			<table id="width_g">
				<tr>
					<td class="hdr_2">
						{{character.name}}:&nbsp{{character.race}}&nbsp{{character.char_class}}
					</td>
				</tr>
			</table>
			<table id="width_g">
				<tr>
					<!-- Attributes -->
					<td id="width_e">
						<table>
							<tr>
								<td id="width_4">Gender</td>
								<td id="width_0">&nbsp;</td>
								<td class="bottom" id="width_6">
									{% if flag == "sheet" %}
										{{character.gender}}
									{% else %}
										<input type="text" name="gender" id="width_6" value="{{character.gender}}">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td id="width_4">Age</td>
								<td id="width_0">&nbsp;</td>
								<td class="bottom" id="width_6">
									{% if flag == "sheet" %}
										{{character.age}}
									{% else %}
										<input type="text" name="age" id="width_6" value="{{character.age}}">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td id="width_4">Height</td>
								<td id="width_0">&nbsp;</td>
								<td class="bottom" id="width_6">
									{% if flag == "sheet" %}
										{{character.height}}
									{% else %}
										<input type="text" name="height" id="width_6" value="{{character.height}}">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td id="width_4">Weight</td>
								<td id="width_0">&nbsp;</td>
								<td class="bottom" id="width_6">
									{% if flag == "sheet" %}
										{{character.weight}}
									{% else %}
										<input type="text" name="weight" id="width_6" value="{{character.weight}}">
									{% endif %}
								</td>
							</tr>
						</table>
					</td>
					<!-- Movement -->
					<td id="width_e">
						<table  align="left">
							<!--tr>
								<td colspan="3" class="halign_r">Movement</td>
							</tr-->
							<tr>
								<td class="halign_r" style="width:105px">Walking (feet)</td>
								<td style="width:2px">&nbsp;</td>
								<td class="bottom" style="width:40px">{{character.walking_adjusted}}</td>
							</tr>
							<tr>
								<td class="halign_r">Running (feet)</td>
								<td>&nbsp;</td>
								<td class="bottom">{{character.running_adjusted}}</td>
							</tr>
							<tr>
								<td class="halign_r">Swimming (feet)</td>
								<td>&nbsp;</td>
								<td class="bottom">{{character.swimming_adjusted}}</td>
							</tr>
						</table>
					</td>
					<!-- Encumbrance -->
					<td id="width_e">
						<table  align="left">
							<tr>
								<td id="width_6" class="halign_r">Encumbrance</td>
								<td id="width_0">&nbsp;</td>
								<td id="width_4" class="bottom_c">{{character.encumbrance}}</td>
							</tr>
							<tr>
								<td class="halign_r">Total Load</td>
								<td>&nbsp;</td>
								<td class="bottom_c">{{character.total_load}}</td>
							</tr>
							<tr>
								<td class="halign_r">Modifiers</td>
								<td>&nbsp;</td>
								<td class="bottom_c">{{character.modifiers}}</td>
							</tr>
							<tr>
								<td class="halign_r">Burdened</td>
								<td>&nbsp;</td>
								<td class="bottom_c">{{character.burdened}}</td>
							</tr>
						</table>
					</td>
					<!-- Experience -->
					<td id="width_e">
						<table align="left">
							<tr>
								<td id="width_4" class="halign_r">Level</td>
								<td id="width_0">&nbsp;</td>
								<td id="width_4" class="bottom_c">{{character.level}}</td>
							</tr>
							<tr>
								<td id="width_6" class="halign_r">Experience</td>
								<td id="width_0">&nbsp;</td>
								<td id="width_4" class="bottom_c">
									{% if flag == "sheet" %}
										{{character.experience}}
									{% else %}
										<input type="text" name="experience" id="width_6" value="{{character.experience}}">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td class="halign_r">Next Level</td>
								<td>&nbsp;</td>
								<td class="bottom_c">{{character.next_level}}</td>
							</tr>
							<tr>
								<td colspan="3"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<br/>
			<!-- Ability Scores, Saves, Combat Factors and Bonuses -->
			<table id="width_g">
				<tr>
					<!-- Ability Scores -->
					<td id="width_d">
						<table>
							<tr>
								<td colspan="3" class="header">Ability Scores</td>
							</tr>
							<tr>
								<td id="width_5"></td>
								<td id="width_3"></td>
								<td id="width_3" class="halign_c">Mods</td>
							</tr>
							<tr>
								<td>STR:</td>
								<td class="all_c">
									{% if flag == "sheet" %}
										{{character.str_base}}
									{% else %}
										<input type="text" name="str_base" id="width_3" value="{{character.str_base}}">
									{% endif %}
								</td>
								<td class="all_c">{{character.str_modifiers}}</td>
							</tr>
							<tr>
								<td>DEX:</td>
								<td class="all_c">
									{% if flag == "sheet" %}
										{{character.dex_base}}
									{% else %}
										<input type="text" name="dex_base" id="width_3" value="{{character.dex_base}}">
									{% endif %}
								</td>
								<td class="all_c">{{character.dex_modifiers}}</td>
							</tr>
							<tr>
								<td>INT:</td>
								<td class="all_c">
									{% if flag == "sheet" %}
										{{character.int_base}}
									{% else %}
										<input type="text" name="int_base" id="width_3" value="{{character.int_base}}">
									{% endif %}
								</td>
								<td class="all_c">{{character.int_modifiers}}</td>
							</tr>
							<tr>
								<td>HLTH:</td>
								<td class="all_c">
									{% if flag == "sheet" %}
										{{character.health_base}}
									{% else %}
										<input type="text" name="health_base" id="width_3" value="{{character.health_base}}">
									{% endif %}
								</td>
								<td class="all_c">{{character.health_modifiers}}</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</td>
					<!-- Saves -->
					<td id="width_e">
						<table align="center">
							<tr>
								<td colspan="3" class="header">Saves</td>
							</tr>
							<tr>
								<td id="width_6"></td>
								<td id="width_3" class="halign_c">Dice</td>
								<td id="width_3" class="halign_c">Mods</td>
							</tr>
							<tr>
								<td class="all_r">Withstand</td>
								<td class="all_c">{{character.withstand_adjusted}}</td>
								<td class="all_c">{{character.withstand_modifiers}}</td>
							</tr>
							<tr>
								<td class="all_r">Dodge</td>
								<td class="all_c">{{character.dodge_adjusted}}</td>
								<td class="all_c">{{character.dodge_modifiers}}</td>
							</tr>
							<tr>
								<td class="all_r">Resist</td>
								<td class="all_c">{{character.resist_adjusted}}</td>
								<td class="all_c">{{character.resist_modifiers}}</td>
							</tr>
							<!-- need some sort of conditional here -->
							{% load define_showhp %}
							{% if 'Paladin' in character.char_class %}
								{% define True as showhp %}
							{% else %}
								{% define False as showhp %}
							{% endif %}
							<tr>
								{% if character.is_spellcaster %}
									<td class="all_r">Spell Points</td>
									<td class="all_c">{{character.spell_points_base}}</td>
									<td class="all_c"></td>
								{% elif 'Bard' in character.char_class %}
									<td class="all_r">Rhythm Points</td>
									<td class="all_c">{{character.rhythm_points_base}}</td>
									<td class="all_c"></td>
								{% elif 'Illusionist' in character.char_class %}
									<td class="all_r">Spell Cards</td>
									<td class="all_c">{{character.spell_cards_base}}</td>
									<td class="all_c"></td>
								{% elif showhp %}
									<td class="all_r">Honor Points</td>
									<td class="all_c">{{character.honor_points_base}}</td>
									<td class="all_c"></td>
									{% define False as showhp %}
								{% else %}
									<td>&nbsp;</td>
								{% endif %}
							</tr>
							<tr>
								{% if showhp %}
									<td class="all_r">Honor Points</td>
									<td class="all_c">{{character.honor_points_base}}</td>
									<td class="all_c"></td>
								{% else %}
									<td>&nbsp;</td>
								{% endif %}
							</tr>
						</table>
					</td>
					<!-- Combat Factors -->
					<td id="width_e">
						<table align="center">
							<tr>
								<td colspan="3" class="header">Combat Factors</td>
							</tr>
							<tr>
								<td id="width_6"></td>
								<td id="width_3" class="halign_c"></td>
								<td id="width_3" class="halign_c">Adj</td>
							</tr>
							<tr>
								<td class="all_r">Knockdown</td>
								<td class="all_c">{{character.knockdown_base}}</td>
								<td class="all_c">
									{% if flag == "sheet" %}
										{{character.knockdown_adjusted}}
									{% else %}
										<input type="text" name="knockdown_adjusted" id="width_3" value="{{character.knockdown_adjusted}}">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td class="all_r">Defense</td>
								<td class="all_c">{{character.defense_base}}</td>
								<td class="all_c">
									{% if flag == "sheet" %}
										{{character.defense_adjusted}}
									{% else %}
										<input type="text" name="defense_adjusted" id="width_3" value="{{character.defense_adjusted}}">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td class="all_r">Stun</td>
								<td class="all_c">{{character.stun_base}}</td>
								<td class="all_c">
									{% if flag == "sheet" %}
										{{character.stun_adjusted}}
									{% else %}
										<input type="text" name="stun_adjusted" id="width_3" value="{{character.stun_adjusted}}">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td class="all_r">Endurance</td>
								<td class="all_c">{{character.endurance_base}}</td>
								<td class="all_c">
									{% if flag == "sheet" %}
										{{character.endurance_adjusted}}
									{% else %}
										<input type="text" name="endurance_adjusted" id="width_3" value="{{character.endurance_adjusted}}">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</td>
					<!-- Bonuses -->
					<td>
						<table align="right">
							<tr>
								<td colspan="3" class="header">Bonuses</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td class="halign_c">Adj</td>
							</tr>
							<tr>
								<td id="width_6" class="all_r">To Damange</td>
								<td class="all_c">{{character.damage_mods_base}}</td>
								<td class="all_c">{{character.damage_mods_adjusted}}</td>
							</tr>
							<tr>
								<td class="all_r">To Hit</td>
								<td class="all_c">{{character.to_hit_mods_base}}</td>
								<td class="all_c">{{character.to_hit_mods_adjusted}}</td>
							</tr>
							<tr>
								<td class="all_r"># of Actions</td>
								<td class="all_c">{{character.actions_base}}</td>
								<td class="all_c">{{character.actions_adjusted}}</td>
							</tr>
							<tr>
								<td></td>
								<td class="font_small">Underground</td>
								<td class="font_small">Outside</td>
							</tr>
							<tr>
								<td class="all_r">Search Dice</td>
								<td class="all_c">{{character.underground_search_adjusted}}</td>
								<td class="all_c">{{character.outside_search_adjusted}}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<br/>
			<!-- Skills, Weapons, Armor and Equipment -->
			<table id="width_g">
				<!-- Row One -->
				<tr>
					<td id="width_c" rowspan="5" class="valign_t">
						<!-- Skills -->
						<table id="width_g">
							<tr>
								<td class="header">Class Skills</td>
								<td class="header_c">Rk</td>
								<td class="header_c">Or</td>
							</tr>
							{% for skill in character.classskills_set.all %}
								<tr>
									<td class="all_pl">
									{% if skill.mastered %}
										<strong>{{skill.item_name}}</strong>
									{% else %}
										{{skill.item_name}}
									{% endif %}
									</td>
									<td class="all_c">
										{% if flag == "sheet" %}
											{{skill.rank}}
										{% else %}
											<input type="text" name="{{skill.item_name}}_rank" id="width_1" value="{{skill.rank}}">
										{% endif %}
									</td>
									<td class="all_c" id="width_1">{{skill.order}}</td>
								</tr>
							{% endfor %}
							<tr>
								<td class="header">Racial Skills</td>
								<td class="header_c">Rk</td>
								<td class="header_c">Or</td>
							</tr>
							{% for skill in character.racialskills_set.all %}
								<tr>
									<td class="all_pl">
									{% if skill.mastered %}
										<strong>{{skill.item_name}}</strong>
									{% else %}
										{{skill.item_name}}
									{% endif %}
									</td>
									<td class="all_c">
										{% if flag == "sheet" %}
											{{skill.rank}}
										{% else %}
											<input type="text" name="{{skill.item_name}}_rank" id="width_1" value="{{skill.rank}}">
										{% endif %}
									</td>
									<td class="all_c" id="width_1">{{skill.order}}</td>
								</tr>
							{% endfor %}
							{% if 'Paladin' in character.char_class %}
								<tr>
									<td class="header">Honor Skills</td>
									<td class="header_c">Rk</td>
									<td class="header_c">Or</td>
								</tr>
								{% for skill in character.honorskills_set.all %}
									<tr>
										<td class="all_pl">
										{% if skill.mastered %}
											<strong>{{skill.item_name}}</strong>
										{% else %}
											{{skill.item_name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "sheet" %}
												{{skill.rank}}
											{% else %}
												<input type="text" name="{{skill.item_name}}_rank" id="width_1" value="{{skill.rank}}">
											{% endif %}
										</td>
										<td class="all_c" id="width_1">{{skill.order}}</td>
									</tr>
								{% endfor %}
							{% endif %}
							{% if 'Illusionist' in character.char_class or 'Bard' in character.char_class or character.is_spellcaster %}
								<tr>
									<td class="header">Spell Skills</td>
									<td class="header_c">Rk</td>
									<td class="header_c">Or</td>
								</tr>
								{% for skill in character.spellskills_set.all %}
									<tr>
										<td class="all_pl">
										{% if skill.mastered %}
											<strong>{{skill.item_name}}</strong>
										{% else %}
											{{skill.item_name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "sheet" %}
												{{skill.rank}}
											{% else %}
												<input type="text" name="{{skill.item_name}}_rank" id="width_1" value="{{skill.rank}}">
											{% endif %}
										</td>
										<td class="all_c" id="width_1">{{skill.order}}</td>
									</tr>
								{% endfor %}
							{% endif %}
						</table>
					</td>
					<td id="width_a">&nbsp;</td>
					<td class="valign_t" >
						<!-- Weapons -->
						<table id="width_g">
							<tr>
								<td></td>
								<td id="width_2"></td>
								<td id="width_2"></td>
								<td id="width_2"></td>
								<td id="width_4"></td>
								<td id="width_4"></td>
								<td id="width_4"></td>
								<td id="width_1"></td>
								<td id="width_1"></td>
								<td colspan="2" class="all_c">Dice and Adj</td>
							</tr>
							<tr>
								<td class="header">Weapons List</td>
								<td class="halign_c">Size</td>
								<td class="halign_c">Type</td>
								<td class="halign_c">Dam</td>
								<td class="halign_c">Range</td>
								<td class="halign_c">Dur</td>
								<td class="halign_c">Load</td>
								<td class="halign_c">Rk</td>
								<td class="halign_c">Or</td>
								<td id="width_3" class="all_c">To Hit</td>
								<td id="width_3" class="all_c">Dam</td>
							</tr>
							{% for weapon in character.weapons_set.all %}
								<tr>
									<td class="all_pl">
									{% if weapon.mastered %}
										<strong>{{weapon.description}}</strong>
									{% else %}
										{{weapon.description}}
									{% endif %}
									</td>
									{% if flag == "sheet" or "Group" in weapon.item_name or weapon.size == "-" %}
										<td class="all_pl">{{weapon.size}}</td>
										<td class="all_pl">{{weapon.type}}</td>
										<td class="all_pl">{{weapon.damage}}</td>
										<td class="all_pl">{{weapon.range}}</td>
										<td class="all_pl">{{weapon.durability}}</td>
										<td class="all_pl">{{weapon.load}}</td>
									{% else %}
										<td class="all_c">
											<input type="text" name="{{weapon.item_name}}_size" id="width_2" value="{{weapon.size}}">
										</td>
										<td class="all_c">
											<input type="text" name="{{weapon.item_name}}_type" id="width_2" value="{{weapon.type}}">
										</td>
										<td class="all_c">
											<input type="text" name="{{weapon.item_name}}_damage" id="width_2" value="{{weapon.damage}}">
										</td>
										<td class="all_c">
											<input type="text" name="{{weapon.item_name}}_range" id="width_4" value="{{weapon.range}}">
										</td>
										<td class="all_c">
											<input type="text" name="{{weapon.item_name}}_durability" id="width_4" value="{{weapon.durability}}">
										</td>
										<td class="all_c">
											<input type="text" name="{{weapon.item_name}}_load" id="width_4" value="{{weapon.load}}">
										</td>
									{% endif %}
									<td class="all_c">
										{% if flag == "sheet" %}
											{{weapon.rank}}
										{% else %}
											<input type="text" name="{{weapon.item_name}}_rank" id="width_1" value="{{weapon.rank}}">
										{% endif %}
									</td>
									<td class="all_pl">{{weapon.order}}</td>
									<td class="all_pl">{{weapon.to_hit}}</td>
									<td class="all_pl">{{weapon.damage}}</td>
								</tr>
							{% endfor %}
							<tr>
								<td>&nbsp;</td>
								<td></td>
								<td></td>
								<td colspan="3" class="halign_rpl">Total Weapon Load</td>
								<td class="all_pl">{{character.weapons_total_load}}</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- Row Two -->
				<tr><td>&nbsp;</td></tr>
				<!-- Row Three -->
				<tr>
					<td>&nbsp;</td>
					<td class="valign_t">
						<table id="width_g">
							<tr>
								<td class="valign_t" >
									<!-- Armor -->
									<table id="width_g">
										<tr>
											<td class="header">Armor List</td>
											<td id="width_2" class="halign_c">Type</td>
											<td id="width_2" class="halign_c">Dur</td>
											<td id="width_1" class="halign_c">S</td>
											<td id="width_1" class="halign_c">P</td>
											<td id="width_1" class="halign_c">B</td>
											<td id="width_1" class="halign_c">C</td>
											<td id="width_4" class="halign_c">Load</td>
											<td id="width_1" class="halign_c">Rk</td>
											<td id="width_1" class="halign_c">Or</td>
										</tr>
										<!-- {{table.armor}} -->
										{% for armor in character.armor_set.all %}
											<tr>
												{% load define_group %}
												{% if "Group" in armor.item_name or armor.load == "-" %}
													{% define True as group %}
												{% else %}
													{% define False as group %}
												{% endif %}
												{% load define_toughness %}
												{% if "Toughness" in armor.item_name %}
													{% define True as toughness %}
												{% else %}
													{% define False as toughness %}
												{% endif %}
												{% load define_protection %}
												{% if "Protection Spell" in armor.item_name %}
													{% define True as protection %}
												{% else %}
													{% define False as protection %}
												{% endif %}
												<td class="all_pl">
												{% if armor.mastered %}
													<strong>{{armor.description}}</strong>
												{% else %}
													{{armor.description}}
												{% endif %}
												</td>
												{% if flag == "sheet" or group or toughness or protection %}
													<td class="all_pl">{{armor.type}}</td>
												{% else %}
													<td class="all_c">
														<input type="text" name="{{armor.item_name}}_type" id="width_2" value="{{armor.type}}">
													</td>
												{% endif %}
												{% if flag == "sheet" or group or toughness %}
													<td class="all_pl">{{armor.durability}}</td>
												{% else %}
													<td class="all_c">
														<input type="text" name="{{armor.item_name}}_durability" id="width_2" value="{{armor.durability}}">
													</td>
												{% endif %}
												{% if flag == "sheet" or group or protection %}
													<td class="all_pl">{{armor.slashing}}</td>
													<td class="all_pl">{{armor.piercing}}</td>
													<td class="all_pl">{{armor.bludgeoning}}</td>
													<td class="all_pl">{{armor.cleaving}}</td>
												{% else %}
													<td class="all_c">
														<input type="text" name="{{armor.item_name}}_slashing" id="width_1" value="{{armor.slashing}}">
													</td>
													<td class="all_c">
														<input type="text" name="{{armor.item_name}}_piercing" id="width_1" value="{{armor.piercing}}">
													</td>
													<td class="all_c">
														<input type="text" name="{{armor.item_name}}_bludgeoning" id="width_1" value="{{armor.bludgeoning}}">
													</td>
													<td class="all_c">
														<input type="text" name="{{armor.item_name}}_cleaving" id="width_1" value="{{armor.cleaving}}">
													</td>
												{% endif %}
												{% if flag == "sheet" or group or toughness or protection %}
													<td class="all_pl">{{armor.load}}</td>
												{% else %}
													<td class="all_c">
														<input type="text" name="{{armor.item_name}}_load" id="width_4" value="{{armor.load}}">
													</td>
												{% endif %}
												{% if flag == "sheet" or toughness or protection %}
													<td class="all_pl">{{armor.rank}}</td>
												{% else %}
													<td class="all_c">
														<input type="text" name="{{armor.item_name}}_rank" id="width_1" value="{{armor.rank}}">
													</td>
												{% endif %}
												<td class="all_pl">{{armor.order}}</td>
											</tr>
										{% endfor %}
										<tr>
											<td>&nbsp;</td>
											<td></td>
											<td></td>
											<td colspan="4" class="halign_rpl">Total Armor Load</td>
											<td class="all_pl">{{character.armor_total_load}}</td>
										</tr>
									</table>
								</td>
								<td id="width_a">&nbsp;</td>
								<td id="width_b" class="valign_t" >
									<!-- Money -->
									<table id="width_g">
										<tr>
											<td></td>
											<td class="header">Money</td>
											<td class="header">Load</td>
										</tr>
										<tr>
											<td class="all_c">&nbsp;GP&nbsp;</td>
											<td class="all_c">
												{% if flag == "sheet" %}
													{{character.gold_amount}}
												{% else %}
													<input type="text" name="gold_amount" id="width_1" value="{{character.gold_amount}}">
												{% endif %}
											</td>
											<td class="all_c">{{character.gold_load}}</td>
										</tr>
										<tr>
											<td class="all_c">SP</td>
											<td class="all_c">
												{% if flag == "sheet" %}
													{{character.silver_amount}}
												{% else %}
													<input type="text" name="silver_amount" id="width_1" value="{{character.silver_amount}}">
												{% endif %}
											</td>
											<td class="all_c">{{character.silver_load}}</td>
										</tr>
										<tr>
											<td class="all_c">CP</td>
											<td class="all_c">
												{% if flag == "sheet" %}
													{{character.copper_amount}}
												{% else %}
													<input type="text" name="copper_amount" id="width_1" value="{{character.copper_amount}}">
												{% endif %}
											</td>
											<td class="all_c">{{character.copper_load}}</td>
										</tr>
										<tr>
											<td class="left_c">&nbsp;</td>
											<td class="all_c">{{character.money.other.1}}</td>
											<td class="all_c">{{character.money.other.1.load}}</td>
										</tr>
										<tr>
											<td class="left_c">O</td>
											<td class="all_c">{{character.money.other.2}}</td>
											<td class="all_c">{{character.money.other.2.load}}</td>
										</tr>
										<tr>
											<td class="left_c">T</td>
											<td class="all_c">{{character.money.other.3}}</td>
											<td class="all_c">{{character.money.other.3.load}}</td>
										</tr>
										<tr>
											<td class="left_c">H</td>
											<td class="all_c">{{character.money.other.4}}</td>
											<td class="all_c">{{character.money.other.4.load}}</td>
										</tr>
										<tr>
											<td class="left_c">E</td>
											<td class="all_c">{{character.money.other.5}}</td>
											<td class="all_c">{{character.money.other.5.load}}</td>
										</tr>
										<tr>
											<td class="left_c">R</td>
											<td class="all_c">{{character.money.other.6}}</td>
											<td class="all_c">{{character.money.other.6.load}}</td>
										</tr>
											<td class="left_c bottom">&nbsp;</td>
											<td class="all_c">{{character.money.other.7}}</td>
											<td class="all_c">{{character.money.other.7.load}}</td>
										<tr>
											<td colspan="2" class="halign_rpl">Total Load</td>
											<td class="all_c">{{character.money_total_load}}</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- Row Four -->
				<tr><td>&nbsp;</td></tr>
				<!-- Row Five -->
				<tr>
					<td>&nbsp;</td>
					<td class="valign_t" >
						<table id="width_g">
							{% for container in character.container_set.all %}
								{% if not forloop.counter|divisibleby:2 %}<tr>{% endif %}
									<td class="valign_t" id="width_f">
										<!-- Equipment Left -->
										<table id="width_g">
											<tr>
												<td class="header">{{container.item_name}}</td>
												<td id="width_1" class="halign_c">Qty</td>
												<td id="width_1" class="halign_c">Load</td>
												<td id="width_1" class="halign_c">Adj</td>
												<td id="width_1" class="halign_c">Dur</td>
											</tr>
											{% for equipment in container.equipment_set.all %}
												<tr>
													<td class="all_pl">{{equipment.description}}</td>
													<td class="all_c">{{equipment.quantity}}</td>
													<td class="all_c">{{equipment.load}}</td>
													<td class="all_c">{{equipment.adjusted}}</td>
													<td class="all_c">{{equipment.durability}}</td>
												</tr>
											{% endfor %}
											<tr>
												<td class="halign_rpl" colspan="2">Total Load</td>
												<td class="all_c">{{character.equipment.total.load.left}}</td>
												<td></td>
												<td></td>
											</tr>
										</table>
									</td>
								{% if not forloop.counter|divisibleby:2 %}
									<td id="width_a">&nbsp;</td>
								{% endif %}
								{% if forloop.last and not forloop.counter|divisibleby:2 %}
									<!--td id="width_a">&nbsp;</td-->
									<td class="valign_t" id="width_f">&nbsp;</td>
								{% endif %}
							{% if forloop.counter|divisibleby:2 or forloop.last %}</tr>
								{% if not forloop.last %}<tr><td><br/></td></tr>{% endif %}
							{% endif %}
						{% endfor %}
						</table>
					</td>
				</tr>
			</table>
			{% if flag == "edit" %}<input type="submit" value="Save">{% endif %}
		</form>
	</div>
</div>
