<div>
	<div class="sheet">
		<!-- form action="{ % url 'save' character.name % }" method="post"-->
		<form method="post">
			{% csrf_token %}
			<table id="width_100">
				<!-- row One -->
				<tr>
					<!-- Name, etc -->
					<td id="width_235" class="valign_t">
						<table id="width_100">
							<tr>
								<td id="width_32">Name</td>
								<td id="width_03">&nbsp;</td>
								<td id="width_65" class="bottom">
									{% if flag == "sheet" %}
										{{character.name}}
									{% else %}
										<input type="text" name="name" value="{{character.name}}">
									{% endif %}
								</td>
							</tr>
							<tr>
								<td id="width_32">Race</td>
								<td id="width_03">&nbsp;</td>
								<td id="width_65" class="bottom">
									{% if flag == "sheet" %}
										{{character.race}}
									{% else %}
										<input type="text" name="race" value="{{character.race}}">
									{% endif %}
								</td>
							</tr>
						</table>
					</td>
					<td rowspan="2" style="width:53%;" class="hdr_1">{{character.char_class}}</td>
					<td rowspan="2" id="width_235">
						<table id="width_100" align="right">
							<tr>
								<td id="width_65" class="halign_r hdr_4">Level</td>
								<td id="width_03">&nbsp;</td>
								<td id="width_32" class="hdr_4 hdr_5">{{character.level}}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table id="width_100">
				<tr>
					<!-- Attributes -->
					<td id="width_235" class="valign_t">
						{% include "aif_character/attr_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Movement -->
					<td id="width_235" class="valign_t">
						{% include "aif_character/movement_table_1.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Encumbrance -->
					<td id="width_235" class="valign_t">
						{% include "aif_character/encumbrance_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Experience -->
					<td id="width_235" class="valign_t">
						{% include "aif_character/experience_table_1.html" %}
					</td>
				</tr>
			</table>
			<br/>
			<!-- Ability Scores, Saves, Combat Factors and Bonuses -->
			<table id="width_100">
				<tr>
					<!-- Ability Scores -->
					<td id="width_235" class="valign_t">
						{% include "aif_character/stats_table.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Saves -->
					<td id="width_235" class="valign_t">
						{% include "aif_character/saves_table_1.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Combat Factors -->
					<td id="width_235" class="valign_t">
						{% include "aif_character/cf_factors_table_1.html" %}
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Bonuses -->
					<td id="width_235" class="valign_t">
						{% include "aif_character/bonuses_table_1.html" %}
					</td>
				</tr>
			</table>
			<br/>
			<!-- Skills, Weapons, Armor and Equipment -->
			<table id="width_100">
				<!-- Row One -->
				<tr>
					<td id="width_235" rowspan="5" class="valign_t">
						<!-- Skills -->
						<table id="width_100">
							<tr>
								<td class="header pl_05">Class Skills</td>
								<td id="width_12" class="header ha_c">Rk</td>
								<td id="width_12" class="header ha_c">Or</td>
							</tr>
							{% for skill in character.get_class_skills %}
								{% include "aif_character/skills_table.html" %}
							{% endfor %}
							<tr>
								<td class="header pl_05">Racial Skills</td>
								<td id="width_12" class="header ha_c">Rk</td>
								<td id="width_12" class="header ha_c">Or</td>
							</tr>
							{% for skill in character.get_racial_skills %}
								{% include "aif_character/skills_table.html" %}
							{% endfor %}
							{% if 'Paladin' in character.char_class %}
								<tr>
									<td class="header pl_05">Honor Skills</td>
									<td id="width_12" class="header ha_c">Rk</td>
									<td id="width_12" class="header ha_c">Or</td>
								</tr>
								{% for skill in character.get_honor_skills %}
									{% include "aif_character/skills_table.html" %}
								{% endfor %}
							{% endif %}
							{% if character.is_spellcaster %}
								<tr>
									<td class="header pl_05">Spell Skills</td>
									<td id="width_12" class="header ha_c">Rk</td>
									<td id="width_12" class="header ha_c">Or</td>
								</tr>
								{% for skill in character.get_spell_skills %}
									{% include "aif_character/skills_table.html" %}
								{% endfor %}
							{% endif %}
						</table>
					</td>
					<td id="width_02">&nbsp;</td>
					<td id="width_75" class="valign_t">
						<!-- Weapons -->
						{% include "aif_character/weapons_table_1.html" %}
					</td>
				</tr>
				<!-- Row Two -->
				<tr>
					<td id="width_02">&nbsp;</td>
					<td id="width_75" class="valign_t">
				</tr>
				<!-- Row Three -->
				<tr>
					<td id="width_02">&nbsp;</td>
					<td id="width_75" class="valign_t">
						<table id="width_100">
							<tr>
								<td class="valign_t" >
									<!-- Armor -->
									{% include "aif_character/armor_table_1.html" %}
								</td>
								<td id="width_02">&nbsp;</td>
								<td id="width_15" class="valign_t">
									<!-- Money -->
									{% include "aif_character/money_table_1.html" %}
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- Row Four -->
				<tr>
					<td id="width_02">&nbsp;</td>
					<td id="width_75" class="valign_t">
				</tr>
				<!-- Row Five -->
				<tr>
					<td id="width_02">&nbsp;</td>
					<td id="width_75" class="valign_t">
						{% include "aif_character/equipment_table.html" %}
					</td>
				</tr>
			</table>
			{% if flag == "edit" %}<input type="submit" value="Save">{% endif %}
		</form>
	</div>
</div>
