<div>
	<div class="sheet">
		<form method="post" id="character_form" name="character_form">
			{% csrf_token %}
			{% if character.is_spellcaster and not 'Bard' in character.char_class and not 'Illusionist' in character.char_class %}
			<table id="width_100">
				<!-- row One -->
				<tr>
					<!-- Circle 1 -->
					<!--td id="width_e"-->
					<td id="width_32" class="valign_t">
						<table id="width_100">
							<tr>
								<td class="header pl_05">Circle 1</td>
								<td class="header ha_c" id="width_10">Rk</td>
								<td class="header ha_c" id="width_10">Or</td>
							</tr>
							{% for spell in character.spells_set.all %}
								{% if spell.circle == 1 %}
									<tr>
										<td class="all_pl">
										{% if spell.mastered %}
											<strong>{{spell.name}}</strong>
										{% else %}
											{{spell.name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "character" %}
												{{spell.rank}}
											{% else %}
												<input class="formatted" type="text" name="{{spell.name}}_rank" value="{{spell.rank}}">
											{% endif %}
										</td>
										<td class="all_c">{{spell.order}}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Circle 2 -->
					<!--td id="width_e"-->
					<td id="width_32" class="valign_t">
						<table id="width_100">
							<tr>
								<td class="header pl_05">Circle 2</td>
								<td class="header ha_c" id="width_10">Rk</td>
								<td class="header ha_c" id="width_10">Or</td>
							</tr>
							{% for spell in character.spells_set.all %}
								{% if spell.circle == 2 %}
									<tr>
										<td class="all_pl">
										{% if spell.mastered %}
											<strong>{{spell.name}}</strong>
										{% else %}
											{{spell.name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "character" %}
												{{spell.rank}}
											{% else %}
												<input class="formatted" type="text" name="{{spell.name}}_rank" value="{{spell.rank}}">
											{% endif %}
										</td>
										<td class="all_c">{{spell.order}}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Circle 3 -->
					<!--td id="width_e"-->
					<td id="width_32" class="valign_t">
						<table id="width_100">
							<tr>
								<td class="header pl_05">Circle 3</td>
								<td class="header ha_c" id="width_10">Rk</td>
								<td class="header ha_c" id="width_10">Or</td>
							</tr>
							{% for spell in character.spells_set.all %}
								{% if spell.circle == 3 %}
									<tr>
										<td class="all_pl">
										{% if spell.mastered %}
											<strong>{{spell.name}}</strong>
										{% else %}
											{{spell.name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "character" %}
												{{spell.rank}}
											{% else %}
												<input class="formatted" type="text" name="{{spell.name}}_rank" value="{{spell.rank}}">
											{% endif %}
										</td>
										<td class="all_c">{{spell.order}}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</td>
				</tr>
				<!-- row Two -->
				<tr><td><br/></td></tr>
				<!-- row Three -->
				<tr>
					<!-- Circle 4 -->
					<!--td id="width_e"-->
					<td id="width_32" class="valign_t">
						<table id="width_100">
							<tr>
								<td class="header pl_05">Circle 4</td>
								<td class="header ha_c" id="width_10">Rk</td>
								<td class="header ha_c" id="width_10">Or</td>
							</tr>
							{% for spell in character.spells_set.all %}
								{% if spell.circle == 4 %}
									<tr>
										<td class="all_pl">
										{% if spell.mastered %}
											<strong>{{spell.name}}</strong>
										{% else %}
											{{spell.name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "character" %}
												{{spell.rank}}
											{% else %}
												<input class="formatted" type="text" name="{{spell.name}}_rank" value="{{spell.rank}}">
											{% endif %}
										</td>
										<td class="all_c">{{spell.order}}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Circle 5 -->
					<!--td id="width_e"-->
					<td id="width_32" class="valign_t">
						<table id="width_100">
							<tr>
								<td class="header pl_05">Circle 5</td>
								<td class="header ha_c" id="width_10">Rk</td>
								<td class="header ha_c" id="width_10">Or</td>
							</tr>
							{% for spell in character.spells_set.all %}
								{% if spell.circle == 4 %}
									<tr>
										<td class="all_pl">
										{% if spell.mastered %}
											<strong>{{spell.name}}</strong>
										{% else %}
											{{spell.name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "character" %}
												{{spell.rank}}
											{% else %}
												<input class="formatted" type="text" name="{{spell.name}}_rank" value="{{spell.rank}}">
											{% endif %}
										</td>
										<td class="all_c">{{spell.order}}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</td>
					<td id="width_02">&nbsp;</td>
					<!-- Circle 6 -->
					<!--td id="width_e"-->
					<td id="width_32" class="valign_t">
						<table id="width_100">
							<tr>
								<td class="header pl_05">Circle 6</td>
								<td class="header ha_c" id="width_10">Rk</td>
								<td class="header ha_c" id="width_10">Or</td>
							</tr>
							{% for spell in character.spells_set.all %}
								{% if spell.circle == 4 %}
									<tr>
										<td class="all_pl">
										{% if spell.mastered %}
											<strong>{{spell.name}}</strong>
										{% else %}
											{{spell.name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "character" %}
												{{spell.rank}}
											{% else %}
												<input class="formatted" type="text" name="{{spell.name}}_rank" value="{{spell.rank}}">
											{% endif %}
										</td>
										<td class="all_c">{{spell.order}}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</td>
				</tr>
			</table>
			<br/>
			<br/>
			{% endif %}

			{% if 'Bard' in character.char_class %}
			<!--table id="width_g"-->
			<table  id="width_32">
				<!-- row One -->
				<tr>
					<!--td id="width_e">
					<td style="width: 30%"-->
					<td class="valign_t">
						<table id="width_100">
							<tr>
								<td class="header pl_05">Spell</td>
								<td class="header ha_c" id="width_10">Rk</td>
								<td class="header ha_c" id="width_10">Or</td>
							</tr>
							{% for spell in character.spells_set.all %}
								{% if spell.circle == 0 %}
									<tr>
										<td class="all_pl">
										{% if spell.mastered %}
											<strong>{{spell.name}}</strong>
										{% else %}
											{{spell.name}}
										{% endif %}
										</td>
										<td class="all_c">
											{% if flag == "character" %}
												{{spell.rank}}
											{% else %}
												<input class="formatted" type="text" name="{{spell.name}}_rank" value="{{spell.rank}}">
											{% endif %}
										</td>
										<td class="all_c">{{spell.order}}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</td>
					<td style="width: 3%">&nbsp;</td>
				</tr>
			</table>
			<br/>
			<br/>
			{% endif %}

			{% if 'Illusionist' in character.char_class %}
			<table id="width_100">
				<!-- row One -->
				<tr>
					<td id="width_235">
						<h2>Spell Card Layout TBD</h2>
					</td>
				</tr>
			</table>
			<br/>
			<br/>
			{% endif %}
		</form>
	</div>
</div>
