<div class="tab">
	<button class="tablinks active" onclick="openTab(event, 'Sheet')">Sheet</button>
	<button class="tablinks" onclick="openTab(event, 'Sheet2')">Sheet 2</button>
	<button class="tablinks" onclick="openTab(event, 'Sheet3')">Sheet 3</button>
	<button class="tablinks" onclick="openTab(event, 'Sheet4')">Sheet 4</button>
	{% if character.is_spellcaster %}
		<button class="tablinks" onclick="openTab(event, 'Spells')">Spells</button>
	{% endif %}
	<button class="tablinks" onclick="openTab(event, 'Notes')">Notes</button>
	<button class="tablinks" onclick="openTab(event, 'Combat')">Combat</button>
</div>

<div id="Sheet" class="tabcontent active" style="display:block">
	{% include "aif_character/sheet_1.html" %}
</div>

<div id="Sheet2" class="tabcontent">
	{% include "aif_character/sheet_2.html" %}
</div>

<div id="Sheet3" class="tabcontent">
	{% include "aif_character/sheet_3.html" %}
</div>

<div id="Sheet4" class="tabcontent">
	{% include "aif_character/sheet_4.html" %}
</div>

<div id="Spells" class="tabcontent">
	{% include "aif_character/spells.html" %}
</div>

<div id="Notes" class="tabcontent">
	{% include "aif_character/notes.html" %}
</div>

<div id="Combat" class="tabcontent">
	{% include "aif_character/combat.html" %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
	function openTab(evt, tab_name) {
		var i, tabcontent, tablinks;

		$.ajax({
			type: "POST",
			url: '{{ '/ajax-set-theme/' }}',
			data: { csrfmiddlewaretoken: '{{ csrf_token }}', tab_name: tab_name },
			success: function callback(response){
						/* do whatever with the response */
						//document.getElementById("theme_popup").style.display = "none";
						//alert(response);
					}
		});

		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}

		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}

		document.getElementById(tab_name).style.display = "block";
		evt.currentTarget.className += " active";
	}
</script>
