<div class="tab">
	<button class="tablinks active" onclick="openTab(event, 'Sheet')">Sheet</button>
	<button class="tablinks" onclick="openTab(event, 'Sheet2')">Sheet2</button>
	{% if character.is_spellcaster %}
		<button class="tablinks" onclick="openTab(event, 'Spells')">Spells</button>
	{% endif %}
	<button class="tablinks" onclick="openTab(event, 'Notes')">Notes</button>
	<button class="tablinks" onclick="openTab(event, 'Combat')">Combat</button>
</div>

<div id="Sheet" class="tabcontent active" style="display:block">
	{% include "aif_character/sheet1.html" %}
</div>

<div id="Sheet2" class="tabcontent">
	{% include "aif_character/sheet2.html" %}
</div>

<div id="Spells" class="tabcontent">
	{% include "aif_character/spells.html" %}
</div>

<div id="Notes" class="tabcontent">
	{% include "aif_character/notes.html" %}
</div>

<div id="Combat" class="tabcontent">
	{% include "aif_character/combat.html" %}
</div>

<script>
	function openTab(evt, cityName) {
	  var i, tabcontent, tablinks;
	  tabcontent = document.getElementsByClassName("tabcontent");
	  for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	  }
	  tablinks = document.getElementsByClassName("tablinks");
	  for (i = 0; i < tablinks.length; i++) {
		tablinks[i].className = tablinks[i].className.replace(" active", "");
	  }
	  document.getElementById(cityName).style.display = "block";
	  evt.currentTarget.className += " active";
	}
</script>
